<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors.templates">
      <template
            autoinsert="true"
            contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
            description="Tycho Plugin Configuration"
            id="org.ancit.m2e.tycho.templates.tychoplugin"
            name="tycho plugin">
         <pattern>
            &lt;plugin&gt;
              &lt;!-- Alter the Tycho version as per your requirement --&gt;
		&lt;groupId&gt;org.eclipse.tycho&lt;/groupId&gt;
		&lt;artifactId&gt;tycho-maven-plugin&lt;/artifactId&gt;
		&lt;version&gt;0.22.0&lt;/version&gt;
		&lt;extensions&gt;true&lt;/extensions&gt;
&lt;/plugin&gt;
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
            description="tycho-p2-director-plugin responsible for eclipse product build"
            id="org.ancit.m2e.tycho.templates.eclipseproduct"
            name="eclipse product">
         <pattern>
            &lt;!-- Alter the Tycho version accordingly --&gt;
        &lt;plugin&gt;
  			&lt;groupId&gt;org.eclipse.tycho&lt;/groupId&gt;
  			&lt;artifactId&gt;tycho-p2-director-plugin&lt;/artifactId&gt;
  			&lt;version&gt;0.22.0&lt;/version&gt;
  			&lt;executions&gt;
  			  &lt;execution&gt;
            &lt;!-- install the product using the p2 director --&gt;  
		     &lt;id&gt;materialize-products&lt;/id&gt;  
     		&lt;goals&gt;  
      		&lt;goal&gt;materialize-products&lt;/goal&gt;  
     		&lt;/goals&gt;
          &lt;/execution&gt;
          &lt;execution&gt;
          	&lt;id&gt;archive-products&lt;/id&gt;  
     		&lt;goals&gt;  
      			&lt;goal&gt;archive-products&lt;/goal&gt;  
     		&lt;/goals&gt;
          	&lt;/execution&gt;
  		&lt;/executions&gt;
&lt;/plugin&gt;
            
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.repositories"
            description="Eclipse p2 Repository Configuration"
            id="org.ancit.m2e.tycho.templates.repoconfiguration"
            name="eclipse repository">
         <pattern>
            &lt;repository&gt;
        &lt;!-- Alter the URL according to your p2 Layout --&gt;
        &lt;id&gt;eclipse-repo&lt;/id&gt;
        &lt;layout&gt;p2&lt;/layout&gt;
        &lt;url&gt;http://download.eclipse.org/releases/kepler/&lt;/url&gt;        
&lt;/repository&gt;
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
            description="Target Platform Configuration for Eclipse Product"
            id="org.ancit.m2e.tycho.templates.targetplatformconfig"
            name="eclipse target platform configuration">
         <pattern>
            <!-- Retain the Required Target Platform Configuration as desired -->       
			&lt;plugin&gt;&#13;
				&lt;groupId&gt;org.eclipse.tycho&lt;/groupId&gt;&#13;
				&lt;artifactId&gt;target-platform-configuration&lt;/artifactId&gt;&#13;
				&lt;version&gt;${cursor}0.22.0&lt;/version&gt;&#13;
				&lt;configuration&gt;&#13;
					&lt;pomDependencies&gt;consider&lt;/pomDependencies&gt;&#13;
					&lt;environments&gt;&#13;
						&lt;environment&gt;&#13;
							&lt;os&gt;linux&lt;/os&gt;&#13;
							&lt;ws&gt;gtk&lt;/ws&gt;&#13;
							&lt;arch&gt;x86&lt;/arch&gt;&#13;
						&lt;/environment&gt;&#13;
						&lt;environment&gt;&#13;
							&lt;os&gt;linux&lt;/os&gt;&#13;
							&lt;ws&gt;gtk&lt;/ws&gt;&#13;
							&lt;arch&gt;x86_64&lt;/arch&gt;&#13;
						&lt;/environment&gt;&#13;
						&lt;environment&gt;&#13;
							&lt;os&gt;win32&lt;/os&gt;&#13;
							&lt;ws&gt;win32&lt;/ws&gt;&#13;
							&lt;arch&gt;x86&lt;/arch&gt;&#13;
						&lt;/environment&gt;&#13;
						&lt;environment&gt;&#13;
							&lt;os&gt;win32&lt;/os&gt;&#13;
							&lt;ws&gt;win32&lt;/ws&gt;&#13;
							&lt;arch&gt;x86_64&lt;/arch&gt;&#13;
						&lt;/environment&gt;&#13;
						&lt;environment&gt;&#13;
							&lt;os&gt;macosx&lt;/os&gt;&#13;
							&lt;ws&gt;cocoa&lt;/ws&gt;&#13;
							&lt;arch&gt;x86_64&lt;/arch&gt;&#13;
						&lt;/environment&gt;&#13;
					&lt;/environments&gt;&#13;
				&lt;/configuration&gt;&#13;
			&lt;/plugin&gt;
		</pattern>
      </template>
   </extension>

</plugin>
