<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.ancit.util.explorer.objectContribution1"
            objectClass="org.eclipse.core.resources.IContainer">
         <action
               class="org.ancit.utils.wexplorer.OpenInWindowExplorerAction"
               icon="icons/repository.gif"
               id="org.ancit.utils.wexplorer.OpenInWindowExplorerAction"
               label="Show in File Explorer"
               menubarPath="additions">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IContainer">
               </objectClass>
            </enablement>
         </action>
      </objectContribution>
   </extension>

</plugin>
