<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.ui"
            class="org.ancit.search.web.GoogleSearchView"
            icon="icons/google.png"
            id="org.ancit.spy.editors.GoogleSearchView"
            name="Google Search"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.ancit.search.web.objectContribution3"
            nameFilter="*.*"
            objectClass="org.eclipse.ui.IEditorInput">
         <action
               class="org.ancit.search.web.SearchOnGoogleAction"
               enablesFor="1"
               icon="icons/google.png"
               id="org.ancit.search.web.SearchOnGoogleActionOnEditor"
               label="Search on Google">
         </action>
      </objectContribution>
      <viewerContribution
            id="org.ancit.search.web.viewerContribution1"
            targetID="org.eclipse.debug.ui.ProcessConsoleType.#ContextMenu">
         <action
               class="org.ancit.search.web.SearchOnGoogleAction"
               icon="icons/google.png"
               id="org.ancit.search.web.SearchOnGoogleActionOnConsole"
               label="Search on Google"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="org.ancit.search.web.searchbar"
               label="Search Bar">
            <control
                  class="org.ancit.search.web.controlContributions.GoogleSearchControlContribution"
                  id="org.ancit.search.web.controlContributions.GoogleSearchControlContribution">
            </control>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
